.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml
test/smoke/nodes

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
